<!DOCTYPE html>

<html lang="en-EN">

<head>

    <title>Scopes</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="<%= redirect %>">
    <meta property="og:title" content="<% = title %>">
    <meta property="og:site_name" content="<% = title %>">
    <meta property="og:description" content="<% = desc %>">
    <meta property="og:type" content="website">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <meta http-equiv="Refresh" content="0; url='<%= redirect %>'" />

</head>

<body>

</body>

</html>